.posts {
  .user {
    color:#a90f0f;
    font-weight: 700;
  }

  .max {
    font-weight: 700;
  }
}
.container-posts {
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
}

.posts-header {
  margin-bottom: 20px
}

.heading-2 {
  margin: 0;
  margin-bottom: 25px;
}
