.body-errors {
  background-color: #b12a2a;

  .error {
    text-align: center;
    margin-top: 200px;
    background-color:#ffffff;
    color: #b12a2a;
    font-weight: bold;
    padding: 15px;
    font-size: 40px;
  }
}
