html, body.master {
  font-family: 'Roboto', Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

select {
  font-family: 'FontAwesome'
}

.form-button {
  margin-top: 20px;
}

.breadcrumb {
  background-color: inherit;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  z-index: 1000;
  top: 50%;
  left: 50%;
  position: fixed;
}
.lds-dual-ring:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  margin: 1px;
  border-radius: 50%;
  border: 12px solid #fff;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.return-top {
  position: relative;
}

.return-top .fa-angle-up {
  display: none;
  position: fixed;
  z-index: 999;
  top: 60%;
  right: 1px;
  font-size: 55px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  color: $main-page;
  border-radius:5px;
  border: 3px solid;
  cursor: pointer;
}

  .ui-autocomplete {
    max-height: 170px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

.weight {
  font-weight: 700;
}
